<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<h1>Ask your coach anything</h1>

<form action="/answer" method="get" data-turbo="false">
  <input type="text" name="question" placeholder="Your question">
  <input type="submit" value="Ask!">
</form>
